/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/
form .form-group label span {
    color: #D84315;
    padding-right: 7px;
}

.profile-cover-img {
    background-color: #0062E2;
    height: 250px;
    opacity: 0.8 !important; 
}

input.form-control:read-only, textarea.form-control:read-only {
    color: #aaa;
    background-color: #ffffff;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    pointer-events: none;
}

.has-feedback-left .form-control {
    padding-right: 12px;
    padding-left: 36px;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 36px;
    padding: 7px 12px;
}

.form-group.has-error .form-control {
    border: 1px solid #D84315;
    border-radius: 3px;
    height: 36px;
    padding: 7px 12px;
}

.form-control:focus {
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-right-color: #ddd;
    outline: 0;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fafafa;
    border: 1px solid #ddd;
    opacity: 1;
}

.bootstrap-select .btn-default {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px 12px;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #F2F2F2;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.bootstrap-select.btn-group.open > .btn-default.dropdown-toggle {
    border-bottom-color: #0062E2;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 0 #0062E2;
    box-shadow: 0 1px 0 #0062E2;
}

.bootstrap-select > .btn.btn-default, .bootstrap-select > .btn.btn-default.disabled {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.bootstrap-select.btn-group .btn .caret {
    right: 12px;
}

.form-group.has-error .bootstrap-select .btn-default.active, .form-group.has-error .bootstrap-select .btn-default.focus, .form-group.has-error .bootstrap-select .btn-default:active, .form-group.has-error .bootstrap-select .btn-default:focus {
    background-color: transparent;
    border-bottom-color: #D84315;
    -webkit-box-shadow: 0 1px 0 #D84315;
    box-shadow: 0 1px 0 #D84315;
}

.form-group.has-error .bootstrap-select.btn-group.open > .btn-default.dropdown-toggle {
    border-bottom-color: #D84315;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 0 #D84315;
    box-shadow: 0 1px 0 #D84315;
}

.form-group.has-error .bootstrap-select .btn-default {
    border: 1px solid #D84315;
}

.input-group-addon {
    text-align: center;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.input-group-addon:last-child {
    padding-right: 12px;
}

.input-group.has-error .form-control {
    border: 1px solid #D84315;
}

.has-error .input-group-addon, .has-success .input-group-addon, .has-warning .input-group-addon {
    border-color: #D84315;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
.navbar-brand > img {
    margin-top: 0px;
    height: 20px;
}

.sidebar-user-material-content a {
    border: solid 2px #fff;
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
*/
.page-full {
    padding-top: 50px;
}

.panel-footer.panel-footer-bordered {
    padding-top: 15px;
    padding-bottom: 15px;
}

.table {
    border: 1px solid #ddd;
    border-radius: 3px !important;
    border-collapse: separate;
}

.table thead {
    background-color: #FAFAFA;
}

.table thead.header-white {
    background-color: #ffffff;
}

.table > thead > tr > th {
    border-bottom: none;
}

.table td.width-5 {
    width: 5%;
}

.table td.width-10 {
    width: 10%;
}

.table td.width-15 {
    width: 15%;
}

.table td.width-17 {
    width: 17%;
}

.table td.width-20 {
    width: 20%;
}

.table td.width-23 {
    width: 23%;
}

.table td.width-25 {
    width: 25%;
}

.table td.width-30 {
    width: 30%;
}

.table td.width-35 {
    width: 35%;
}

.table td.width-40 {
    width: 40%;
}

.table td.width-45 {
    width: 45%;
}

.table td.width-50 {
    width: 50%;
}

.table td.width-55 {
    width: 55%;
}

.table td.width-60 {
    width: 60%;
}

.table td.width-65 {
    width: 65%;
}

.table td.width-70 {
    width: 70%;
}

.table td.width-75 {
    width: 75%;
}

.table td.width-80 {
    width: 80%;
}

.table td.width-85 {
    width: 85%;
}

.table td.width-90 {
    width: 90%;
}

.table td.width-95 {
    width: 95%;
}

.datatable-header {
    border-bottom: none;
    padding-top: 0;
}

.datatable-header .bootstrap-select {
    width: 75px !important;
}

.datatable-main thead tr th {
    border-bottom: 1px solid #ddd;
}

.dataTables_filter input {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 36px;
    padding: 7px 12px;
    width: 280px;
}

.dataTables_filter > label::after {
    margin-right: 12px;
}

.datatable-footer a.paginate_button {
    background-color: #fff;
    border: 1px solid #ddd;
}

.datatable-footer a.paginate_button.previous, .datatable-footer a.paginate_button.next {
    display: none;
}

.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:focus, .dataTables_paginate .paginate_button.current:hover, .dataTables_paginate .paginate_button.current {
    background-color: #F8F8F8;
    color: #333;
}

.dataTables_info:before {
    content: "\e993";
    font-family: icomoon;
    padding-right: 7px;
    padding-top: 20px;
}

.label-semifull {
    width: 70%;
}

.accordion .panel {
    margin-bottom: 10px;
}

.accordion .panel-heading {
    padding-bottom: 15px;
    padding-top: 15px;
}

.accordion .panel-title {
    font-size: 13px;
    font-weight: 500;
}

.border-active {
    border-color: #4caf50;
}

.text-active {
    color: #4caf50 !important;
}

.border-inactive {
    border-color: #999;
}

.text-inactive {
    color: #999 !important;
}

.border-pendent {
    border-color: #FFB74D;
}

.text-pendent {
    color: #FFB74D !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.panel-note {
    color: #999;
    float: right;
    margin-right: 30px;
}

/*
|--------------------------------------------------------------------------
| PNotify
|--------------------------------------------------------------------------
*/
.ui-pnotify {
    width: 300px !important;
    right: 20px !important;
    top: 20px !important;
    cursor: auto !important;
}

/*
|--------------------------------------------------------------------------
| Modal
|--------------------------------------------------------------------------
*/
.modal-header {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
}

.modal-header .close {
    top: 35%;
}

/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
*/
.form-group-search input {
    margin-top: 10px;
    background-color: white;
}

.request-register {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

/*
|--------------------------------------------------------------------------
| Headwayapp
|--------------------------------------------------------------------------
*/
#HW_badge_cont {
    position: absolute;
    top: -5px;
    right: 0;
}

/*
|--------------------------------------------------------------------------
| Curve ABC
|--------------------------------------------------------------------------
*/

.client-class-profile {
    position: absolute;
    right: 14px;
    z-index: 1;
    padding: 4px 10px;
    border-radius: 50%;
    border: 3px solid #FFF;
    box-shadow: 2px 0 3px 2px rgba(100, 100, 100, 0.2);
    color: #FFF;
}

.client-class-resume {
    position: absolute;
    right: 78px;
    z-index: 9999;
    padding: 2px 7px;
    border-radius: 50%;
    border: 2px solid #FFF;
    box-shadow: 2px 0 3px 2px rgba(100, 100, 100, 0.2);
}

.curve-a {
    background-color: #4CAF50;
}

.curve-b {
    background-color: #0090ff;
}

.curve-c {
    background-color: #e84545;
}

.curve-d {
    background-color: #999999;
}

/*
|--------------------------------------------------------------------------
| Tutorial
|--------------------------------------------------------------------------
*/
.conpassAssistant {
    z-index: 1000 !important;
}

.layout-container .page-container {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/*
|--------------------------------------------------------------------------
| New Layout
|--------------------------------------------------------------------------
*/
.main-navbar {
    font-size: 14px !important;
}

.sidebar-xs .sidebar-main .navigation .sidebar-item a {
    padding-left: 15px !important;
}

.main-navbar-icon {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.panel {
    border-radius: 10px !important;
}

.panel-heading {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.navbar-logo-item {
    margin-left: 14px !important;
}

.panel-footer {
    background-color: #ffffff !important;
}

.icon-disabled a {
    cursor: default !important;
}

.btn-group.open > .multiselect.btn-default.dropdown-toggle, .multiselect.btn-default, .multiselect.btn-default:active, .multiselect.btn-default:focus, .multiselect.btn-default:hover {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.swal2-styled.swal2-confirm {
    background-color: #0062E2!important;
}

.swal-button--false {
    color: #FFF !important;
    background-color: #aaa !important;
    border-color: #aaa !important;
}

.swal-button--false:active {
    background-color: #aaa !important;
}

.swal-text {
    text-align: center !important;    
}

.select2-selection--multiple:not([class*=bg-]) .select2-selection__choice:focus, .select2-selection--multiple:not([class*=bg-]) .select2-selection__choice:hover {
    background-color: #0062E2 !important;
    color: #FFF !important;
}

.dataTable tbody .select-checkbox:before {
    border-color: #0062E2 !important;
}

.dataTable tbody .selected .select-checkbox:after {
    border-color:transparent !important;
    color:#0062E2 !important
}

.dataTable tbody .selected .select-checkbox:before {
    border-color:transparent !important;
}

.item-menu-free {
    color: #c1c1c1 !important;
}

.label-menu-free {
    border-color: #ffab22;
    background-color: #ffab22;
    font-size: 7px !important;
}

.swal2-styled.swal2-confirm {
    background-color: #0062E2!important;
    color: #fff;
}

/*
|--------------------------------------------------------------------------
| Mobile
|--------------------------------------------------------------------------
*/

@media(max-width:1280px){
    .main-navbar {
        font-size: 12px !important;
    }
}

